@import './App.scss';
#Edit{
    flex: 1;
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#button1{
    align-self: center;
    max-width: 50px;
    border-radius: 15%;
    box-shadow: 0px 0px 3px 3px gray;
}
#button1:hover{
    @extend .mouseonnote;

}
#button:active{
    border: 5px solid black;
}
#firstbox{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px gray;
    align-self: center;
}
#secondbox{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px gray;
    align-self: center;
}